* {
  margin: 0;
  padding: 0;
  font-size: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 30px;
  background-color: #f7f7f7;
}
header {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  -webkit-box-shadow: inset 1px 1px 2px 1px #dad6d6;
          box-shadow: inset 1px 1px 2px 1px #dad6d6;
}
.logo {
  font-size: 16px;
  color: #b8afaf;
}
header > a {
  font-size: 18px;
  text-decoration: none;
  color: #1aae8a;
  font-weight: 700;
  padding-left: 40px;
}
main {
  background-color: #fafafa;
  -webkit-box-shadow: inset 1px 1px 4px 1px #dad6d6;
          box-shadow: inset 1px 1px 4px 1px #dad6d6;
  padding-bottom: 60px;
}

.main-container {
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
  height: 100%;
}
.main__back::before {
  margin-right: 10px;
  content: "\003C";
  font-size: 14px;
  color: #a8a3a3;
}
.main__back > a {
  text-decoration: none;
}
a > h2 {
  display: inline;
  font-size: 14px;
  color: #a8a3a3;
}
.main__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 1px 1px 4px 1px #dad6d6;
          box-shadow: 1px 1px 4px 1px #dad6d6;
  margin-top: 15px;
}
h3,
h4 {
  font-size: 16px;
  color: #505050;
}
.col-1 {
  background-color: #f2fbf8;
  width: 28%;
  padding-bottom: 20%;
}
.col-1 a {
  font-size: 11px;
  color: #505050;
}
.col-1__date {
  margin-top: 25px;
  margin-bottom: 35px;
  font-size: 12px;
}
.col-2 {
  width: 72%;
}
.col-1__context {
  margin: 5%;
}
.col-1__last {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 4px 1px #dad6d6;
          box-shadow: 1px 1px 4px 1px #dad6d6;
  margin-top: 70px;
  width: 90%;
}
.col-1__last--container {
  width: 98%;
  padding: 5%;
}
.col-1__last--purpose {
  display: inline-block;
  font-size: 13px;
  color: #7e7e7e;
  opacity: 0.6;
  width: 95%;
}
.col-1__btnclose {
  border: 0;
  background-color: #fff;
}
.col-1__btnclose::after {
  content: "\2716";
  font-size: 8px;
  cursor: pointer;
}
.col-1__last--infotext {
  font-size: 14px;
  opacity: 0.8;
  padding-top: 20px;
  padding-bottom: 60px;
}
.col-1__last--btnapply {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  opacity: 0.7;
  border: 0;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

.col-2 {
  background-color: #fff;
}
.col-2__container {
  margin: 24px;
}

.col-2__btn--another {
  font-size: 12px;
  opacity: 0.7;
  border: 1px solid #7e7e7e;
  text-transform: uppercase;
  border-radius: 20px 0px 0px 20px;
  width: 50%;
  height: 28px;
  color: #7e7e7e;
  background-color: #ffff;
  font-weight: 700;
  cursor: pointer;
}
.col-2__btn--own {
  font-size: 12px;
  opacity: 0.7;
  text-transform: uppercase;
  background-color: #1aae8a;
  border: 0;
  color: #fff;
  border-radius: 0px 20px 20px 0px;
  width: 50%;
  height: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  cursor: pointer;
}

.col-2__box--amount {
  width: 100%;
  -webkit-box-shadow: 0px 0px 0px 1px #e9e9e9;
          box-shadow: 0px 0px 0px 1px #e9e9e9;
  height: 40px;
  padding-left: 15px;
  line-height: 40px;
}
form p {
  display: inline-block;
  font-size: 15px;
  color: #7e7e7e;
  width: 70%;
}
form h3 {
  color: #7e7e7e;
  margin-bottom: 15px;
  margin-top: 15px;
}
.cal-2__account {
  font-size: 16px;
  padding-right: 20px;
  color: #7e7e7e;
}
.cal-2__select--account {
  font-size: 14px;
  border: 0;
  background-color: #fff;
}
form input {
  font-size: 14px;
  border: 1px solid #d1d1d1;
  width: 110px;
  height: 50px;
  text-align: center;
}
.col-2__uah {
  display: inline-block;
  width: 40%;
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 17px;
}
.cal-2__sum {
  display: block;
}
.cal-2__textarea {
  width: 100%;
  border: 1px solid #d1d1d1;
}
textarea {
  font-size: 12px;
  border: 0;
  outline: none;
  resize: none;
  width: 100%;
  height: 90px;
}
.cal-2__submit--btn {
  position: relative;
  width: 40%;
  height: 45px;
  font-size: 14px;
  color: #fff;
  background-color: #1aae8a;
  border: 0;
  border-radius: 5px 5px 5px 5px;
  left: 60%;
  top: 20px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 4px 1px #dad6d6;
          box-shadow: 1px 1px 4px 1px #dad6d6;
}
.col-2__counter--symbol {
  font-size: 12px;
  width: 0;
  line-height: 0;
  position: relative;
  right: 5px;
  top: 30px;
}

@media (max-width: 1220px) {
  .col-1__last {
    width: 100%;
  }
  .main-container {
    width: 98%;
  }
}

@media (max-width: 786px) {
  form p {
    display: block;
    width: 100%;
  }

  .col-2__box--amount {
    height: 80px;
    padding-left: 5%;
  }
}

@media (min-width: 401px) {
  .cal-2__box--last--purpose {
    display: none;
  }
}
@media (max-width: 400px) {
  body {
    margin: 0px;
    background-color: #fff;
  }
  header {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header > a {
    padding-left: 5%;
  }
  .col-1 {
    width: 100%;
    padding-bottom: 0;
    background-color: #fff;
  }
  .col-2 {
    width: 100%;
  }
  main {
    background-color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-bottom: 0;
  }
  .col-1__context > a {
    float: right;
  }

  .col-1__last,
  .main__back {
    display: none;
    clear: left;
  }

  .main-container {
    padding-top: 0;
    width: 100%;
  }

  .main__information {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 0;
  }
  .col-1__context--h3h4 {
    font-size: 20px;
    display: inline-block;
  }
  .cal-2__purpose {
    display: none;
  }
  .col-2__btn--another {
    font-size: 10px;
  }
  .col-2__btn--own {
    font-size: 10px;
  }

  .cal-2__submit--btn {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    left: 0;
    top: 20px;
  }
  .cal-2__box--last--purpose {
    -webkit-box-shadow: 1px 1px 4px 1px #dad6d6;
            box-shadow: 1px 1px 4px 1px #dad6d6;
    padding: 2%;
    margin-bottom: 40px;
  }
  .col-1__last--btnapply {
    text-decoration: underline;
    font-weight: 800;
  }
}